
body {
	background-color: white;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

hr {
	width: 70%;
	border: 0.5px solid #A7BFA5;
	margin-left: auto;
	margin-right: auto;
}

.topNav img{
	height: 50px;
	
}

.topNav{
	width: 100%;
	height: 50px;
	background-color: #A7BFA5;
	display: block;
	
}


/* Style the search box inside the navigation bar */
.searchBar input[type=text] {
	display: block;
	padding: 6px;
	border: 1px solid white;
	border-radius: 3px;
	background-color: #A7BFA5;
	margin-top: -45px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
  }

.searchBar ::placeholder {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

/* Style the links inside the sidenav */
#mySidenav a {
	position: absolute; /* Position them relative to the browser window */
	left: -100px; /* Position them outside of the screen */
	transition: 0.3s; /* Add transition on hover */
	padding: 15px; /* 15px padding */
	width: 120px; /* Set a specific width */
	text-decoration: none; /* Remove underline */
	font-size: 20px; /* Increase font size */
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	color: white; /* White text color */
	border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
	left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home {
	top: 70px;
	background-color: #A7BFA5;
}

#map {
	top: 130px;
	background-color: #A7BFA5; /* Blue */
}

#explore {
	top: 190px;
	background-color: #A7BFA5; /* Red */
}

#activities {
	top: 252px;
	background-color: #A7BFA5 /* Light Black */
}

